aiohttp==3.9.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
frozenlist==1.4.1
idna==3.7
loguru==0.7.2
multidict==6.0.5
networkx==3.1
prompt-toolkit==1.0.14
pyaml==24.4.0
Pygments==2.18.0
PyInquirer==1.0.3
PyYAML==6.0.1
regex==2024.5.15
six==1.16.0
tqdm==4.66.4
wcwidth==0.2.13
yarl==1.9.4
